# Backend API Endpoints (Live IP / Domain)
NEXT_PUBLIC_API_URL=http://187.127.174.225/api
NEXT_PUBLIC_API_BASE_URL=http://187.127.174.225/api

# Public Website Link
NEXT_PUBLIC_WEBSITE_URL=http://187.127.174.225:3000
